[Unit]
Description=Site Patrimônio Brasileiro

[Service]
ExecStart=/bin/bash /home/alexandrecgn/Developer/patrimonio_brasileiro/nginx/patrimonio_brasileiro.sh
WorkingDirectory=/home/alexandrecgn/Developer/patrimonio_brasileiro/
Restart=always
User=alexandrecgn
RestartSec=5

[Install]
WantedBy=multi-user.target
